html { 
    scroll-behavior: smooth;
}
.epic-bebas {
    font-family: BebasRegular;
}
.epic-sansr {
    font-family: open_sansregular;
    font-weight: normal;
}
.epic-sansb {
    font-family: open_sansbold;
    font-weight: normal;
}
.epic-sanssb {
    font-family: open_sanssemibold;
    font-weight: normal;
}
.epic-sanss {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.epic-txt16 {
    font-size: 16px;
}
.epic-txt18 {
    font-size: 18px;
}
.epic-txt20 {
    font-size: 20px;
}
.epic-txt25 {
    font-size: 25px;
}
.epic-txt30 {
    font-size: 30px;
}
.epic-upper {
    text-transform: uppercase;
}
.epic-graytxt {
    color: #ccc;
}
.epic-orangetxt {
    font-family: Arial;
    font-weight: normal;
    color: #E25111;
    font-size: 18px;
}
.epic-black {
    color: black;
}
.epic-btn {
    padding: 10px 20px;
    background-color: #E25111;
    color: white;
    font-family: BebasRegular;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.epic-btn:hover {
    background-color: black;
    transition: .5s;
}
.epic-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
.epic-btnred {
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-family: BebasRegular;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.epic-btnred:hover {
    background-color: black;
    transition: .5s;
}
.epic-btnred:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
.epic-btnr {
    padding: 10px 30px;
    background-color: #E25111;
    color: white;
    font-family: open_sanssemibold;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    border: none;
}
.epic-btnr:hover:enabled {
    background-color: black;
    transition: .5s;
}
.epic-btnr:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
.epic-btnrred {
    padding: 10px 30px;
    background-color: red;
    color: white;
    font-family: open_sanssemibold;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    border: none;
}
.epic-btnrred:hover {
    background-color: black;
    transition: .5s;
}
.epic-btnrwhite {
    padding: 10px 15px;
    background-color: white;
    color: black;
    font-family: open_sanssemibold;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
    border: none;
}
.epic-btnrwhite:hover {
    background-color: #ccc;
    transition: .5s;
}
.epic-txtbox {
    padding: 10px;
    color: #222;
    font-family: open_sansregular;
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #aaa;
}
.epic-txtbox:disabled {
    color: #aaa;
    cursor: not-allowed;
}
.epic-li {
    padding-top: 30px;
    border-bottom: 1px solid #aaa;
}
.epic-li .right {
    text-align: right;
}
.epic-li .right form {
    margin: auto;
}
.epic-a {
    font-family: open_sansbold;
    padding: 20px;
    font-size: 18px;
    color: #E25111;
    cursor: pointer;
}
.epic-a:hover {
    color: black;
    transition: .2s;
}
.epic-a.disabled {
    pointer-events: none;
    color: #F4AF92;
    cursor: default;
}
.epic-header {
    padding: 0 20px;
    font-size: 18px;
    background-color: black;
    color: white;
}
.epic-header ul {
    display: inline-block;
    overflow: hidden;
    padding: 0;
}
.epic-header ul li {
    float: left;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.epic-header ul li:hover {
    background-color: white;
    color: #E25111;
    transition: .5s;
}
.epic-texthover:hover {
    color: #E25111;
    transition: .2s;
}
.epic-form {
    margin: auto;
    max-width: 480px;
    padding: 0 50px;
    font-family: open_sanssemibold;
    font-weight: normal;
    overflow: hidden;
}
.epic-form div {
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}





/* ## NOTIFICATIONS ## */
.epic-notifcontainer {
    position: fixed;
    bottom: 40px;
    left: 50px;
    z-index: 10;
}
@keyframes notif-slide {
    from {
        margin-left: -100px;
        opacity: .5;
    }
    to {
        margin-left: 0px;
        opacity: 1;
    }
}
.epic-notif {
    background-color: #E25111;
    color: white;
    font-family: open_sansregular;
    position: relative;
    padding: 25px;
    margin-top: 20px;
    margin-left: 0px;
    width: fit-content;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    opacity: 1;
    animation-name: notif-slide;
    animation-duration: .5s;
}
.epic-notif div {
    position: absolute;
    padding: 5px 10px;
    top: -10px;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: black;
    color: white;
    font-family: open_sansregular;
    cursor: pointer;
}
.epic-notif div:hover {
    background-color: red;
    transition: .2s;
}





/* ## VARIANTS ## */
.epic-variants {
    margin-top: 10px;
    overflow: hidden;
}
.epic-variants li {
    float: left;
    margin: 5px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: open_sansregular;
    cursor: pointer;
    background-color: white;
    border: 2px solid #aaa;
    color: black;
}
.epic-variants li:hover {
    background-color: black;
    border-color: black;
    color: white;
    transition: .5s;
}
.epic-vActive {
    background-color: #E25111 !important;
    border-color: #E25111 !important;
    color: white !important;
}





/* ## TOGGLE SWITCH ## */
.epic-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.epic-switch input { /* Hide default HTML checkbox */
    opacity: 0;
    width: 0;
    height: 0;
}
.epic-slider { /* slider */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
.epic-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .epic-slider {
    background-color: #E25111;
}
input:focus + .epic-slider {
    box-shadow: 0 0 1px #E25111;
}
input:checked + .epic-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}





/* ## DROPDOWN ## */
.epic-dropbtn {
    width: 100%;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.epic-drop {
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}
.epic-dropcontent {
    display: none;
    position: absolute;
    background-color: white;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.epic-dropcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.epic-dropcontent a:hover {
    background-color: #E25111;
    color: white;
    transition: .2s;
}
.epic-drop:hover .epic-dropcontent {
    display: block;
}
.epic-drop:hover .epic-dropbtn {
    background-color: white;
    color: #E25111;
}





/* ## MODAL ## */
/* The Modal (background) */
.epic-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 150px 0; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.epic-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: epic-modal-animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: epic-modal-animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes epic-modal-animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes epic-modal-animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.epic-modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.epic-modal-close:hover,
.epic-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.epic-modal-header {
    padding: 10px 16px;
    background-color: #E25111;
    color: white;
}
.epic-modal-body {padding: 20px;}
.epic-modal-footer {
    padding: 10px 16px;
    background-color: #E25111;
    color: white;
}





/* ## CALENDAR ## */
.epic-calendar {
    margin: 50px 0 50px 0;
    font-family: Verdana, sans-serif;
}
.epic-calendar ul {list-style-type: none;}
.epic-month {
    padding: 70px 25px;
    width: 100%;
    background: #E25111;
    text-align: center;
}
.epic-month ul {
    margin: 0;
    padding: 0;
}
.epic-month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.epic-month .prev {
    float: left;
    padding-top: 10px;
}
.epic-month .next {
    float: right;
    padding-top: 10px;
}
.epic-weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}
.epic-weekdays li {
    margin: 0;
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
.epic-days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
.epic-days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    font-size:12px;
    color: #555;
}
.epic-days li div {
    height: 50px;
    position: relative;
}
.epic-days li .epic-dayEnabled {
    cursor: pointer;
}
.epic-days li .epic-dayEnabled:hover {
    background-color: #ddd;
    transition: .2s;
}
.epic-days li .epic-dayEnabled:active {
    background-color: #aaa;
    transition: .2s;
}
.epic-days li .epic-dayDisabled {
    color: #aaa;
}
.epic-days li .epic-user-reserved {
    background: #E25111;
    color: white !important
}
.epic-days li div div {
    width: 100%;
    height: 50px;
    position: absolute;
    padding-top: 10px;
    pointer-events: none;
}
.epic-days li div div label {
    width: 100%;
    font-weight: normal;
    pointer-events: none;
}





/* ## OWNER TABS ## */
.epic-otab
{
    height: 120px;
    border-radius: 50px;
    border: solid 2px #aaa;
    padding-top: 20px;
    text-align: center;
    color: black;
    cursor: pointer;
}
.epic-otab *
{
    pointer-events: none;
}
.epic-otab:hover
{
    color: inherit;
    transition: .3s;
}





/* ## STAR RATING ## */
.epic-starcontainer {
    margin: 10px auto;
    cursor: pointer;
    width: fit-content;
}
.epic-star {
    color: grey;
    font-size: 30px;
}
.epic-starc {
    color: #FFA500 !important;
}
.epic-startp {
    color: #BF923F !important;
}





/* ## MOBILE VIEW CLASSES ## */
.epicm-margintop10 {
    margin-top: 0;
}
.epicm-width100p {
    width: auto;
}





/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .epic-weekdays li, .epic-days li {width: 13.1%;}
}
@media screen and (max-width: 420px) {
    .epic-weekdays li, .days li {width: 12.5%;}
    .epic-days li .active {padding: 2px;}
    .epic-modal-content {width: 100% !important;}
    .epicm-margintop10 {margin-top: 10px !important;}
    .epicm-width100p {width: 100% !important;}
}
@media screen and (max-width: 290px) {
    .epic-weekdays li, .epic-days li {width: 12.2%;}
}





/* ## GLOBAL ## */
/* Remove arrows on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}